!/bitrix
/bitrix/*

!/bitrix/components/
/bitrix/components/bitrix/

!/bitrix/php_interface/
/bitrix/php_interface/dbconn.ph*
/bitrix/php_interface/after_connect*
/bitrix/php_interface/logs/

/logs
/upload

/sitemap*
/log.txt
/.idea
/.vscode
/.htaccess
/.htpasswd
/*.log
*.log
/*.txt
*.txt
*.sass-cache

.DS_Store
