
.section-auth.mode-single {
  display: block;
}

.mode-single .right-intro {
  float: right;
  text-align: right;
  width: 100%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
}

.mode-single .text {
  font-size: 14px;
  line-height: 1.5;
}

.mode-single .right-intro .text {
  margin-bottom: 50px;
}

.mode-single .right-intro .text-caption {
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 16px;
}

.mode-single .field {
  margin-bottom: 20px !important;
}

.mode-single h3 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.mode-single .basket-table {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mode-single .basket-table td.image {
  line-height: 1;
}

.mode-single .basket-table .name {
  margin-top: 0;
  margin-bottom: 0;
}

.reasons {
  width: 100%;
  max-width: 700px;
  margin-top: 15px;
  margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.reasons .field-radio {
  width: 45%;
  margin-right: 5%;
}

.reasons .field-radio .label {
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #1F1F1F;
}

.reasons.mode-width-full .field-radio {
  width: 100%;
  margin-right: 0;
}

.mode-single .requisites {
  width: 100%;
  max-width: 500px;
  margin-bottom: 50px;
}

.mode-single .requisites.fields-return-tc {
  margin-top: -30px;
}

.mode-return-noauth td.summa {
  width: 13%;
}

.mode-return-noauth td.count {
  width: 15%;
}

.mode-return-noauth td.size {
  width: 15%;
}

.form .basket-table .field.field-inline {
  width: 100%;
}

.form .basket-table .field.field-inline input[type=text],
.form .basket-table .field.field-inline input[readonly="readonly"] {
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: #1F1F1F;
  text-align: left;
}

.form .basket-table .field.field-inline input[readonly="readonly"] {
  border-bottom-color: transparent;
}

.form .basket-table .field.field-inline .placeholder {
  text-align: left;
}

.form .basket-table .control {
  width: 18px;
}

.form .basket-table .control .delete img {
  width: 18px;
  height: 18px;
}

.form .basket-table tr:first-child .control {
  display: none !important;
}

.js-add-product,
.return-total-price,
.return-total-price span {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.0;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom-color: transparent;
  color: #1F1F1F;
  padding-top: 1px;
  margin-top: -33px;
  margin-bottom: 50px;
  display: inline-block;
}

.return-total-price span {
  display: inline;
  margin: 0;
  padding: 0;
  color: #444;
}

.return-total-price {
  visibility: hidden;
  float: right;
  color: #444;
}

.return-total-price.active {
  visibility: visible;
}


@media only screen and (max-width: 540px) {
  
  .reasons .field-radio {
    width: 100%;
    margin-right: 0;
  }
  
  .mode-single .basket-table a {
    display: inline-block;
    min-height: 35px;
  }
  
}






