.order-page {
  overflow: hidden;
  margin-bottom: 120px;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.order-page.display {
  opacity: 1 !important;
  visibility: visible !important;
}

.order-page .element_block {
  width: calc(50% - 60px);
}

.order-page .element_block__top {
  background-color: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.order-page .element_block__bottom {
  padding-top: 30px;
  background-color: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: stretch;
}

.order-page .element_block__left {
  display: none;
  width: 30%;
}

.order-page .element_info_cols {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.order-page .element_info_col_image {
  margin-right: 30px;
}

.order-page .element_info_col_desc {
  
}

.order-page .element_block__pict {
  height: 138px;
  width: 93px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0 none;
}

.order-page .element_block__color {
  margin-bottom: 20px;
}

.order-page .element_block__color ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-page .element_block__color ul li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 2px;
  color: #8D8D8D;
  cursor: pointer;
  line-height: 25px;
  font-size: 13px;
}

.order-page .element_block__color ul li:last-child {
  margin-right: 0;
}

.order-page .element_block__color ul li.select {
  color: #222; 
}

.order-page .element_block__right {
/*  width: calc(70% - 30px);
  margin-left: 30px; */
  width: 100%;
}

.order-page .element_block__price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #1F1F1F;
  margin: 10px 0 20px; 
}

.order-page .element_block__prop {
  font-size: 13px;
  line-height: 1;
  color: #8D8D8D;
  margin: 0 0 10px; 
}

.order-page .element_block__text {
  font-size: 14px;
  line-height: 1.3;
}

.order-page .element_block__table {
  margin: 30px 0 0;
}

.order-page .element_block__table table {
  border-collapse: initial;
  width: 100%; 
}

.order-page .element_block__table table th,
.order-page .element_block__table table td {
  padding: 6px 10px 5px;
  text-align: center;
  cursor: pointer;
  background-color: #F9F9F9;
  border: 1px solid #fff;
  font-size: 12px;
  line-height: 1.3;
  opacity: 1;
  transition: all .2s ease;
  box-shadow: 0 0 0 2px rgba(143, 143, 143, 0) inset;
}

.order-page .element_block__table table th:hover,
.order-page .element_block__table table td:hover {
  opacity: .5;
}

.order-page .element_block__table table th:first-child,
.order-page .element_block__table table td:first-child,
.order-page .element_block__table table th:first-child:hover,
.order-page .element_block__table table td:first-child:hover {
  text-align: left;
  cursor: default;
  opacity: 1;
}

.order-page .element_block__table table th {
  font-weight: 500;
  text-align: center; 
  background-color: #EFEFEF;
  cursor: default;
}

.order-page .element_block__table table th:hover {
  opacity: 1;
}

.order-page .element_block__table table td.select {
  box-shadow: 0 0 0 2px rgba(143, 143, 143, .7) inset;
}

.order-page .element_block__table table td.select {
  box-shadow: 0 0 0 2px rgba(143, 143, 143, .7) inset;
}

.order-page .element_block .ibutton {
  width: 100%; 
}



.order-page .order-cart {
  width: calc(50% - 60px);
  margin-left: 50px;
}

.order-page .order-cart .basket-table {
  margin-top: 0;
}

.order-page .order-cart .basket-table tr.head th {
  text-align: center; 
}

.order-page .order-cart .basket-table tr.head th:first-child {
  text-align: left; 
}

.order-page .order-cart .basket-table td.summa {
  white-space: nowrap;
  padding: 0px 10px; 
}

.order-page .order-cart .total-wrap {
  margin-bottom: 0;
  display: none;
}

.order-page .order-cart .total-table .total td:nth-child(1) {
  text-transform: inherit; 
}

.ui-menu {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  padding: 8px 0 !important;
  margin-bottom: 0 !important;
  position: absolute !important;
  background-color: #fff;
  z-index: 100;
  top: 36px !important;
}

.ui-menu-item {
  list-style: none;
  padding: 2px 15px;
  opacity: 1;
  cursor: pointer;
  transition: all .2s ease;
}

.ui-menu-item:hover {
  opacity: .5;
}

.ui-menu-item-wrapper span {
  font-size: 13px;
  display: inline-block;
  margin-right: 12px;
}

.ui-menu-item-wrapper .uif-mail,
.ui-menu-item-wrapper .uif-phone {
  opacity: .6;
}


/*# sourceMappingURL=style.css.map */
