.page-content .content {
  padding-top: 0 !important;
}

.page-content article {
  padding-right: 0 !important;
  margin-bottom: 0 !important;
}

.page-content article h1 {
  padding-top: 0 !important;
}

.news-detail {
  cursor: default;
}

.news-detail .news-product {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}

.news-detail .news-product:last-child {
  margin-bottom: 0;
}

.news-detail .news-product .news-detail-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}

.news-detail .news-product .news-detail-head .font-caption {
  text-transform: none;
  text-align: center;
  letter-spacing: 1.1px;
}

.news-detail .news-product .news-detail-head .subtitle {
  max-width: 631px;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  color: #1A1A1A;
  margin-top: 16px;
  margin-bottom: 0;
}

.news-detail .news-product .images-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -46px;
  margin-bottom: -46px;
}

.news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(1),
.news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(2) {
  width: calc(50% - 46px);
  max-height: 1127px;
}

.news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(3),
.news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(4),
.news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(5),
.news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(6) {
  width: calc(25% - 46px);
  max-height: 729px;
}

.news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(1),
.news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(2) {
  width: calc(50% - 46px);
  max-height: 1127px;
}

.news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(3),
.news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(4),
.news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(5) {
  width: calc((100% / 3) - 46px);
  max-height: 729px;
}

.news-detail .news-product .images-wrap.images-size-4 .image-item {
  width: calc(50% - 46px);
  max-height: 1127px;
}

.news-detail .news-product .images-wrap.images-size-3 .image-item {
  width: calc(50% - 46px);
  max-height: 1127px;
}

.news-detail .news-product .images-wrap.images-size-3 .image-item:nth-child(1) {
  width: calc(100% - 46px);
  max-height: 800px;
}

.news-detail .news-product .images-wrap.images-size-2 .image-item {
  width: calc(50% - 46px);
  max-height: 1127px;
}

.news-detail .news-product .images-wrap.images-size-1 .image-item {
  width: calc(100% - 46px);
  max-height: 800px
}

.news-detail .news-product .images-wrap .image-item {
  cursor: pointer;
  display: block;
  width: calc(25% - 46px);
  margin-right: 46px;
  margin-bottom: 46px;
}

.news-detail .news-product .images-wrap .image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-detail .news-product .info {
  margin-top: 46px;
  position: relative;
}

.news-detail .news-product .info .news-back {
  position: absolute;
  top: -1px;
  left: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.news-detail .news-product .info .news-back .news-back-arrow {
  width: 21px;
  height: 8px;
  margin-right: 7px;
}

.news-detail .news-product .info .news-back .news-back-arrow img {
  width: 100%;
}

.news-detail .news-product .info .news-back p {
  font-size: 18px;
  line-height: 23px;
  color: #1A1A1A;
  margin-bottom: 0;
}

.news-detail .news-product .info .description-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-detail .news-product .info .description-wrap .description {
  max-width: 656px;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #1A1A1A;
  margin-bottom: 16px;
}

.news-detail .news-product .info .description-wrap .ibutton {
  min-width: 182px;
}

.news-detail .news-trend {
  display: flex;
  flex-direction: column;
}

.news-detail .news-trend .font-caption {
  text-align: center;
  margin-bottom: 45px;
}

@media only screen and (max-width: 1440px) {
  .news-detail .news-product {
    margin-bottom: 100px;
  }

  .news-detail .news-product .images-wrap {
    margin-right: -40px;
    margin-bottom: -40px;
  }

  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(1),
  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(2) {
    width: calc(50% - 40px);
  }

  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(3),
  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(4),
  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(5),
  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(6) {
    width: calc(25% - 40px);
  }

  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(1),
  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(2) {
    width: calc(50% - 40px);
  }

  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(3),
  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(4),
  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(5) {
    width: calc((100% / 3) - 40px);
  }

  .news-detail .news-product .images-wrap.images-size-4 .image-item {
    width: calc(50% - 40px);
  }

  .news-detail .news-product .images-wrap.images-size-3 .image-item {
    width: calc(50% - 40px);
  }

  .news-detail .news-product .images-wrap.images-size-3 .image-item:nth-child(1) {
    width: calc(100% - 40px);
  }

  .news-detail .news-product .images-wrap.images-size-2 .image-item {
    width: calc(50% - 40px);
  }

  .news-detail .news-product .images-wrap.images-size-1 .image-item {
    width: calc(100% - 40px);
  }

  .news-detail .news-product .images-wrap .image-item {
    width: calc(25% - 40px);
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .news-detail .news-product .news-detail-head {
    margin-bottom: 25px;
  }

  .news-detail .news-product .news-detail-head .subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .news-detail .news-product .info {
    margin-top: 40px;
  }

  .news-detail .news-product .info .description-wrap .description {
    font-size: 16px;
    line-height: 20px;
    max-width: 600px;
  }

  .news-detail .news-product .info .news-back p {
    font-size: 16px;
    line-height: 20px;
  }

  .news-detail .news-product .info .description-wrap .ibutton {
    font-size: 14px;
  }

  .news-detail .news-trend .font-caption {
    margin-bottom: 25px;
  }

}

@media only screen and (max-width: 1023px) {

  .news-detail .news-product .images-wrap {
    margin-right: -30px;
    margin-bottom: -30px;
  }

  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(1) {
    width: calc(100% - 30px);
  }

  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(2),
  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(3) {
    width: calc(50% - 30px);
  }

  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(4),
  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(5),
  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(6) {
    width: calc((100% / 3) - 30px);
  }

  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(1),
  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(2) {
    width: calc(50% - 30px);
  }

  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(3),
  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(4),
  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(5) {
    width: calc((100% / 3) - 30px);
  }

  .news-detail .news-product .images-wrap.images-size-4 .image-item {
    width: calc(50% - 30px);
  }

  .news-detail .news-product .images-wrap.images-size-3 .image-item {
    width: calc(50% - 30px);
  }

  .news-detail .news-product .images-wrap.images-size-3 .image-item:nth-child(1) {
    width: calc(100% - 30px);
  }

  .news-detail .news-product .images-wrap.images-size-2 .image-item {
    width: calc(50% - 30px);
  }

  .news-detail .news-product .images-wrap.images-size-1 .image-item {
    width: calc(100% - 30px);
  }

  .news-detail .news-product .images-wrap .image-item {
    width: calc(25% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .news-detail .news-product .info {
    margin-top: 30px;
  }

  .news-detail .news-product .info .description-wrap .description {
    max-width: 400px;
  }

}

@media only screen and (max-width: 768px) {

  .news-detail .news-product .images-wrap {
    margin-right: -15px;
    margin-bottom: -15px;
  }

  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(1) {
    width: calc(100% - 15px);
  }

  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(2),
  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(3) {
    width: calc(50% - 15px);
  }

  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(4),
  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(5),
  .news-detail .news-product .images-wrap.images-size-6 .image-item:nth-child(6) {
    width: calc((100% / 3) - 15px);
  }

  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(1),
  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(2) {
    width: calc(50% - 15px);
  }

  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(3),
  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(4),
  .news-detail .news-product .images-wrap.images-size-5 .image-item:nth-child(5) {
    width: calc((100% / 3) - 15px);
  }

  .news-detail .news-product .images-wrap.images-size-4 .image-item {
    width: calc(50% - 15px);
  }

  .news-detail .news-product .images-wrap.images-size-3 .image-item {
    width: calc(50% - 15px);
  }

  .news-detail .news-product .images-wrap.images-size-3 .image-item:nth-child(1) {
    width: calc(100% - 15px);
  }

  .news-detail .news-product .images-wrap.images-size-2 .image-item {
    width: calc(50% - 15px);
  }

  .news-detail .news-product .images-wrap.images-size-1 .image-item {
    width: calc(100% - 15px);
  }

  .news-detail .news-product .images-wrap .image-item {
    width: calc(25% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .news-detail .news-product .info {
    margin-top: 25px;
  }

  .news-detail .news-product .info .news-back {
    display: none;
  }

  .news-detail .news-product .info .description-wrap .description {
    max-width: 656px;
  }

}